div {
    width: 100%;
    max-width: 500px;
    height: 300px;
    background: linear-gradient(to right, red 50%, black 50%),
    linear-gradient(to right, white 50%, blue 50%);
    background-repeat: no-repeat;
    background-size: 500px 150px;
    background-position: top left, 0 150px;
}